Parsing host names fails on trailing dot

Occasionally, the host name part of a URL may include a trailing dot. This is allowed by [RFC 3986, section 3.2.2.](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2):

> The rightmost domain label of a fully qualified domain name in DNS may be followed by a
   single "." and should be if it is necessary to distinguish between the complete domain name
   and some local domain.

While most of the URLs in Common Crawl data do not include a trailing dot (it is removed during URL normalization), the target URLs of HTTP redirects may include one. Parsing the host name to extract the top-level domain, registered domain, etc. should still work for such URL (eg. `http://www.example.com./index.html`).